{% load static %}
{% comment %} Agregamos la estructura básica solo aquí {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Agregamos un título personalizado a cada template -->
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  {% comment %} Un bloque de estilo para poder agregar archivos css en cada template que herede {% endcomment %}
  {% block style %}{% endblock style %}
</head>
<body>
  <!-- Mostramos el navbar solo si el usuario está autenticado -->
  {% if user.is_authenticated %}
  {% include "include/navbar.html" %}
  {% endif %}

  <!-- Contenido personalizado para cada template que herede -->
  {% block content %}
  {% endblock content %}

  <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  
  {% if messages %}
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      // Solo se muestran los mensajes en caso de que los haya
      {% for message in messages %}
        Toastify({
          // Debe ir entre comillas ya que si no lo toma como si no fuera una string
          text: "{{ message }}",
          duration: 3000,
          destination: "https://github.com/apvarun/toastify-js",
          newWindow: true,
          close: true,
          gravity: "bottom", // `top` or `bottom`
          position: "right", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
            // Operador ternario
            background: "{{ message.tags }}" =='success' ? 'linear-gradient(to right, #00b09b, #96c93d)' : "{{ message.tags }}" == 'error' ? 'linear-gradient(to right, rgb(162, 2, 63), rgb(231, 62, 68))' : 'blue',
          },
          onClick: function(){} // Callback after click
        }).showToast();

      {% endfor %}
    });
  </script>
  {% endif %}

  {% comment %} Un bloque de script para poder agregar archivos js en cada template que herede {% endcomment %}
  {% block script %}{% endblock script %}
</body>
</html>
